rules_version = '2';
// See https://firebase.google.com/docs/rules/rules-language 

service cloud.firestore {
  match /databases/{database}/documents {
    match /coltests/{document=**} {
      allow read, write: if true;
    }
    match /doctests/{document=**} {
      allow read: if !('unreadable' in resource.data) || !resource.data.unreadable;
      allow write: if true;
    }
    match /cities/{document=**} {
      allow read, write: if true;
    }
    match /{path=**}/landmarks/{id} {
      allow read: if true;
    }
  }
}
